
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="color:brown;text-align:center">CHÀO MỪNG ĐẾN VỚI TRANG QUẢN LÝ TÀI LIỆU HỌC TIẾNG ANH</h2>
<div class="container">

</div>

@section scripts{
    <script type="text/javascript">
         
        $(document).ready(function () {
            initChart();
        })

    </script>
}
