USE [English_Quiz]
GO
/****** Object:  Table [dbo].[Answer]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answer](
	[ANSWER_ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
	[QUESTION_ID] [nvarchar](30) NULL,
	[IS_CORRECT] [bit] NULL,
	[LIST_ORDER] [int] NULL,
 CONSTRAINT [PK_ANSWER] PRIMARY KEY CLUSTERED 
(
	[ANSWER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[CLASS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLASS_NAME] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](50) NULL,
 CONSTRAINT [PK_Class] PRIMARY KEY CLUSTERED 
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeMaster]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PreFix] [varchar](50) NOT NULL,
	[EmployeeNo]  AS ([PreFix]+right('0000000'+CONVERT([varchar](7),[Id]),(7))) PERSISTED,
	[EmployeeName] [varchar](50) NULL,
 CONSTRAINT [PK_AutoInc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluate]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluate](
	[EVALUATE_ID] [int] IDENTITY(1,1) NOT NULL,
	[EVALUATE_DESCRIPTION] [nvarchar](300) NULL,
	[FROM_POINT] [int] NULL,
	[TO_POINT] [int] NULL,
 CONSTRAINT [PK_Evaluate] PRIMARY KEY CLUSTERED 
(
	[EVALUATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Function]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Function](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Function_Name] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[Form_Name] [nvarchar](50) NULL,
	[Module] [nvarchar](50) NULL,
	[OrderNumber] [int] NULL,
 CONSTRAINT [PK_Function] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History_Quiz]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History_Quiz](
	[PR_KEY] [uniqueidentifier] NOT NULL,
	[Quiz_ID] [nvarchar](20) NOT NULL,
	[User_Name] [nvarchar](50) NOT NULL,
	[Point] [float] NOT NULL,
	[Date_Take_Quiz] [date] NULL,
	[Quiz_Name] [nvarchar](250) NULL,
	[EVALUATE_ID] [int] NULL,
 CONSTRAINT [PK_History_Quiz_1] PRIMARY KEY CLUSTERED 
(
	[PR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listening]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listening](
	[LISTENING_ID] [nvarchar](20) NOT NULL,
	[LISTENING_NAME_VN] [nvarchar](250) NULL,
	[LISTENING_NAME_EN] [nvarchar](250) NULL,
	[LISTENING_TYPE_ID] [int] NULL,
	[LISTENING_FILE_NAME] [nvarchar](100) NULL,
	[IS_TEST] [bit] NOT NULL,
 CONSTRAINT [PK_LISTENING] PRIMARY KEY CLUSTERED 
(
	[LISTENING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listening_Type]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listening_Type](
	[LISTENING_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[LISTENING_TYPE_NAME_VN] [nvarchar](150) NULL,
	[LISTENING_TYPE_NAME_EN] [nvarchar](150) NULL,
	[DESCRIPTION_VN] [nvarchar](250) NULL,
	[DESCRIPTION_EN] [nvarchar](250) NULL,
	[ORDER_BY] [int] NULL,
 CONSTRAINT [PK_LISTENING_TYPE] PRIMARY KEY CLUSTERED 
(
	[LISTENING_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Role_Id] [int] NULL,
	[Function_Id] [int] NULL,
	[Is_View] [bit] NULL,
	[Is_Add] [bit] NULL,
	[Is_Edit] [bit] NULL,
	[Is_Delete] [bit] NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question_Type]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question_Type](
	[TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE_NAME] [nvarchar](250) NULL,
	[TYPE_NAME_EN] [nvarchar](250) NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
 CONSTRAINT [PK_TYPE] PRIMARY KEY CLUSTERED 
(
	[TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QUESTION_ID] [nvarchar](30) NOT NULL,
	[QUESTION_TEXT] [nvarchar](max) NULL,
	[POINT] [float] NULL,
	[TYPE_ID] [int] NULL,
	[LISTENING_ID] [nvarchar](20) NULL,
	[READING_ID] [int] NULL,
	[QUESTION_IMAGE] [nvarchar](100) NULL,
	[IS_TEST] [bit] NOT NULL,
	[LIST_ORDER] [int] NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QUESTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions_Auto_Generate]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions_Auto_Generate](
	[PR_KEY] [uniqueidentifier] NOT NULL,
	[QUIZ_ID] [nvarchar](20) NULL,
	[TYPE_ID] [int] NULL,
	[TOTAL_QUESTION] [int] NULL,
	[LIST_ORDER] [int] NULL,
 CONSTRAINT [PK_QUESTIONS_AUTO_GENERATE] PRIMARY KEY CLUSTERED 
(
	[PR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz](
	[QUIZ_ID] [nvarchar](20) NOT NULL,
	[QUIZ_NAME] [nvarchar](80) NULL,
	[QUIZ_TYPE_ID] [nvarchar](20) NULL,
	[DESCRIPTION] [nvarchar](150) NULL,
	[TIME] [int] NULL,
	[SOURCE_DESCRIPTION] [nvarchar](250) NULL,
	[SOURCE_LINK] [nvarchar](250) NULL,
	[IS_TEST] [bit] NOT NULL,
 CONSTRAINT [PK_Quiz] PRIMARY KEY CLUSTERED 
(
	[QUIZ_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz_Listening]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz_Listening](
	[PR_KEY] [uniqueidentifier] NOT NULL,
	[QUIZ_ID] [nvarchar](20) NULL,
	[LISTENING_ID] [nvarchar](20) NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_Quiz_Listening_1] PRIMARY KEY CLUSTERED 
(
	[PR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz_Questions]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz_Questions](
	[QUIZ_ID] [nvarchar](20) NOT NULL,
	[QUESTION_ID] [nvarchar](30) NOT NULL,
	[ACTIVE] [bit] NOT NULL,
	[POINT] [float] NULL,
 CONSTRAINT [PK_Quiz_Questions] PRIMARY KEY CLUSTERED 
(
	[QUIZ_ID] ASC,
	[QUESTION_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz_Reading]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz_Reading](
	[PR_KEY] [uniqueidentifier] NOT NULL,
	[QUIZ_ID] [nvarchar](20) NULL,
	[READING_TYPE_ID] [int] NULL,
	[TOTAL_READING] [int] NULL,
	[ACTIVE] [bit] NULL,
 CONSTRAINT [PK_Quiz_Reading] PRIMARY KEY CLUSTERED 
(
	[PR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quiz_Type]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quiz_Type](
	[QUIZ_TYPE_ID] [nvarchar](20) NOT NULL,
	[QUIZ_TYPE_NAME] [nvarchar](150) NULL,
	[QUIZ_TYPE_DESCRIPTION] [nvarchar](150) NULL,
	[IS_TEST] [bit] NOT NULL,
 CONSTRAINT [PK_Quiz_Type] PRIMARY KEY CLUSTERED 
(
	[QUIZ_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reading]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reading](
	[READING_ID] [int] IDENTITY(1,1) NOT NULL,
	[READING_TEXT] [nvarchar](max) NULL,
	[READING_TYPE_ID] [int] NULL,
	[READING_IMAGE] [nvarchar](100) NULL,
	[IS_IMAGE] [bit] NOT NULL,
	[IS_TEST] [bit] NOT NULL,
 CONSTRAINT [PK_Reading] PRIMARY KEY CLUSTERED 
(
	[READING_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reading_Type]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reading_Type](
	[READING_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[READING_TYPE_NAME] [nvarchar](250) NULL,
	[READING_TYPE_NAME_EN] [nvarchar](250) NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_Reading_Type] PRIMARY KEY CLUSTERED 
(
	[READING_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[ROLE_ID] [int] IDENTITY(1,1) NOT NULL,
	[ROLE_NAME] [nvarchar](50) NULL,
	[DESCRIPTION] [nvarchar](100) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[ROLE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip](
	[TIP_ID] [int] IDENTITY(1,1) NOT NULL,
	[TIP_NAME] [nvarchar](100) NULL,
	[TIP_CONTENT] [nvarchar](max) NULL,
	[ACTIVE] [bit] NOT NULL,
	[TIP_TYPE_ID] [int] NULL,
 CONSTRAINT [PK_Tips] PRIMARY KEY CLUSTERED 
(
	[TIP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tip_Type]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tip_Type](
	[TIP_TYPE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TIP_TYPE_NAME] [nvarchar](100) NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_Tip_Type] PRIMARY KEY CLUSTERED 
(
	[TIP_TYPE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Evaluate_Website]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Evaluate_Website](
	[PR_KEY] [uniqueidentifier] NOT NULL,
	[USER_NAME_EVALUATE] [nvarchar](50) NULL,
	[USER_JOB] [nvarchar](50) NULL,
	[USER_CONTENT_EVALUATE] [nvarchar](max) NULL,
	[ACTIVE] [bit] NOT NULL,
 CONSTRAINT [PK_User_Evaluate_Website] PRIMARY KEY CLUSTERED 
(
	[PR_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/5/2021 2:28:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[USER_ID] [int] IDENTITY(1,1) NOT NULL,
	[FULL_NAME] [nvarchar](50) NULL,
	[PROFILE_IMAGE] [varchar](50) NULL,
	[PASSWORD] [varchar](250) NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[PHONE_NUMBER] [int] NULL,
	[ROLE_ID] [int] NULL,
	[USER_NAME] [nvarchar](50) NULL,
	[IS_MANAGE] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[USER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answer] ON 

INSERT [dbo].[Answer] ([ANSWER_ID], [DESCRIPTION], [QUESTION_ID], [IS_CORRECT], [LIST_ORDER]) VALUES (1, N'participation', N'TOEIC3', 1, 1)
INSERT [dbo].[Answer] ([ANSWER_ID], [DESCRIPTION], [QUESTION_ID], [IS_CORRECT], [LIST_ORDER]) VALUES (2, N'participated', N'TOEIC3', 0, 2)
INSERT [dbo].[Answer] ([ANSWER_ID], [DESCRIPTION], [QUESTION_ID], [IS_CORRECT], [LIST_ORDER]) VALUES (3, N'participates', N'TOEIC3', 0, 3)
GO
SET IDENTITY_INSERT [dbo].[Answer] OFF
GO
SET IDENTITY_INSERT [dbo].[Class] ON 

INSERT [dbo].[Class] ([CLASS_ID], [CLASS_NAME], [DESCRIPTION]) VALUES (1, N'Lớp E1', N'Lớp ielts cô Hoa')
INSERT [dbo].[Class] ([CLASS_ID], [CLASS_NAME], [DESCRIPTION]) VALUES (2, N'Lớp T1', N'Lớp toeic thầy duy')
INSERT [dbo].[Class] ([CLASS_ID], [CLASS_NAME], [DESCRIPTION]) VALUES (3, N'Lớp TL1', N'Lớp toefl thầy hoàng')
SET IDENTITY_INSERT [dbo].[Class] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeMaster] ON 

INSERT [dbo].[EmployeeMaster] ([ID], [PreFix], [EmployeeName]) VALUES (1, N'123', N'Pro123')
INSERT [dbo].[EmployeeMaster] ([ID], [PreFix], [EmployeeName]) VALUES (2, N'5454', N'Pro123')
INSERT [dbo].[EmployeeMaster] ([ID], [PreFix], [EmployeeName]) VALUES (3, N'JSÐFD', N'12345')
SET IDENTITY_INSERT [dbo].[EmployeeMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Evaluate] ON 

INSERT [dbo].[Evaluate] ([EVALUATE_ID], [EVALUATE_DESCRIPTION], [FROM_POINT], [TO_POINT]) VALUES (1, N'Basic Proficiency (chỉ thỏa mãn những yêu cầu rất cơ bản)', 15, 250)
INSERT [dbo].[Evaluate] ([EVALUATE_ID], [EVALUATE_DESCRIPTION], [FROM_POINT], [TO_POINT]) VALUES (2, N'Elementary Proficiency (có thể duy trì những cuộc đối thoại rất đơn giản trong phạm vi các chủ đề quen thuộc).', 255, 400)
INSERT [dbo].[Evaluate] ([EVALUATE_ID], [EVALUATE_DESCRIPTION], [FROM_POINT], [TO_POINT]) VALUES (3, N'Elementary Proficiency Plus ( có thể bắt đầu và duy trì các hội thoại đã đoán trước được và thỏa mãn một số yêu cầu giao tiếp, song vẫn còn nhiều hạn chế).', 405, 600)
SET IDENTITY_INSERT [dbo].[Evaluate] OFF
GO
SET IDENTITY_INSERT [dbo].[Function] ON 

INSERT [dbo].[Function] ([Id], [Function_Name], [Description], [Form_Name], [Module], [OrderNumber]) VALUES (1, N'QuanLyNguoiDung', N'Quản lý người dùng', N'QuanLyNguoiDung', N'QuanLyNguoiDung', 1)
INSERT [dbo].[Function] ([Id], [Function_Name], [Description], [Form_Name], [Module], [OrderNumber]) VALUES (2, N'QuanLyCauHoi', N'Quản lý các câu hỏi và nhóm câu hỏi', N'QuanLyCauHoi', N'QuanLyCauHoi', 0)
INSERT [dbo].[Function] ([Id], [Function_Name], [Description], [Form_Name], [Module], [OrderNumber]) VALUES (3, N'QuanLyVaiTro', N'Quản lý vai trò', N'QuanLyVaiTro', N'QuanLyVaiTro', 2)
SET IDENTITY_INSERT [dbo].[Function] OFF
GO
INSERT [dbo].[History_Quiz] ([PR_KEY], [Quiz_ID], [User_Name], [Point], [Date_Take_Quiz], [Quiz_Name], [EVALUATE_ID]) VALUES (N'b89bb226-e6b1-4871-a104-8662a4072ee7', N'Quiz1', N'van1999', 260, CAST(N'2021-05-05' AS Date), N'Đề số 1', 2)
INSERT [dbo].[History_Quiz] ([PR_KEY], [Quiz_ID], [User_Name], [Point], [Date_Take_Quiz], [Quiz_Name], [EVALUATE_ID]) VALUES (N'fed8bf89-4215-4d7d-bef8-9f622b70f028', N'Quiz1', N'van1999', 0, CAST(N'2021-05-05' AS Date), N'Đề số 1', 1)
INSERT [dbo].[History_Quiz] ([PR_KEY], [Quiz_ID], [User_Name], [Point], [Date_Take_Quiz], [Quiz_Name], [EVALUATE_ID]) VALUES (N'bb5bb976-f639-4df7-8da4-c2e23570132b', N'Quiz1', N'van1999', 0, CAST(N'2021-05-05' AS Date), N'Đề số 1', 1)
GO
INSERT [dbo].[Listening] ([LISTENING_ID], [LISTENING_NAME_VN], [LISTENING_NAME_EN], [LISTENING_TYPE_ID], [LISTENING_FILE_NAME], [IS_TEST]) VALUES (N'123', N'Mô tả bức tranh ( ETS 01)', N'Picture Description  ( ETS 01)', 3, N'ETS01-picture.mp3', 1)
INSERT [dbo].[Listening] ([LISTENING_ID], [LISTENING_NAME_VN], [LISTENING_NAME_EN], [LISTENING_TYPE_ID], [LISTENING_FILE_NAME], [IS_TEST]) VALUES (N'12345', N'Nói chuyện ngắn ( ETS 01)', N'Short conversation (ETS 01)', 1, N'ETS01-ShortConversation.mp3', 1)
INSERT [dbo].[Listening] ([LISTENING_ID], [LISTENING_NAME_VN], [LISTENING_NAME_EN], [LISTENING_TYPE_ID], [LISTENING_FILE_NAME], [IS_TEST]) VALUES (N'5567', N'Câu hỏi - phản hồi ( ETS 01)', N'Question-Respone ( ETS 01)', 4, N'ETS01-question-respone.mp3', 1)
GO
SET IDENTITY_INSERT [dbo].[Listening_Type] ON 

INSERT [dbo].[Listening_Type] ([LISTENING_TYPE_ID], [LISTENING_TYPE_NAME_VN], [LISTENING_TYPE_NAME_EN], [DESCRIPTION_VN], [DESCRIPTION_EN], [ORDER_BY]) VALUES (1, N'Nói chuyện ngắn', N'Short conversation', N'Một cuộc hội thoại ngắn', N'A short conversation', 3)
INSERT [dbo].[Listening_Type] ([LISTENING_TYPE_ID], [LISTENING_TYPE_NAME_VN], [LISTENING_TYPE_NAME_EN], [DESCRIPTION_VN], [DESCRIPTION_EN], [ORDER_BY]) VALUES (2, N'Cuộc hội thoại đơn', N'Short Talk', N'1 cuộc hội thoại đơn', N'A short talk', 4)
INSERT [dbo].[Listening_Type] ([LISTENING_TYPE_ID], [LISTENING_TYPE_NAME_VN], [LISTENING_TYPE_NAME_EN], [DESCRIPTION_VN], [DESCRIPTION_EN], [ORDER_BY]) VALUES (3, N'Mô tả bức tranh', N'Picture Description', N'Bài nghe sẽ mô tả bức tranh, sau đó các bạn sẽ chọn đáp án đúng', NULL, 1)
SET IDENTITY_INSERT [dbo].[Listening_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([Id], [Role_Id], [Function_Id], [Is_View], [Is_Add], [Is_Edit], [Is_Delete]) VALUES (15, 3, 1, 1, 0, 0, 0)
INSERT [dbo].[Permission] ([Id], [Role_Id], [Function_Id], [Is_View], [Is_Add], [Is_Edit], [Is_Delete]) VALUES (16, 3, 2, 1, 0, 0, 0)
INSERT [dbo].[Permission] ([Id], [Role_Id], [Function_Id], [Is_View], [Is_Add], [Is_Edit], [Is_Delete]) VALUES (17, 3, 3, 1, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
SET IDENTITY_INSERT [dbo].[Question_Type] ON 

INSERT [dbo].[Question_Type] ([TYPE_ID], [TYPE_NAME], [TYPE_NAME_EN], [DESCRIPTION]) VALUES (1, N'Nhóm ETS 01 (2020)', N'', N'')
INSERT [dbo].[Question_Type] ([TYPE_ID], [TYPE_NAME], [TYPE_NAME_EN], [DESCRIPTION]) VALUES (2, N'Nhóm ETS 02 (2020)', N'', N'')
INSERT [dbo].[Question_Type] ([TYPE_ID], [TYPE_NAME], [TYPE_NAME_EN], [DESCRIPTION]) VALUES (3, N'Nhóm ETS 03 (2020)', N'', N'')
SET IDENTITY_INSERT [dbo].[Question_Type] OFF
GO
INSERT [dbo].[Questions] ([QUESTION_ID], [QUESTION_TEXT], [POINT], [TYPE_ID], [LISTENING_ID], [READING_ID], [QUESTION_IMAGE], [IS_TEST], [LIST_ORDER]) VALUES (N'TOEIC1', N'The event planner determined that Tuesday’s forum will require ------- chairs.', 5, 2, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[Questions] ([QUESTION_ID], [QUESTION_TEXT], [POINT], [TYPE_ID], [LISTENING_ID], [READING_ID], [QUESTION_IMAGE], [IS_TEST], [LIST_ORDER]) VALUES (N'TOEIC10', N'Full of old-fashioned charm, the Bronstad Inn ------- offers modern conveniences', 5, 1, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[Questions] ([QUESTION_ID], [QUESTION_TEXT], [POINT], [TYPE_ID], [LISTENING_ID], [READING_ID], [QUESTION_IMAGE], [IS_TEST], [LIST_ORDER]) VALUES (N'TOEIC100', N'All company meal plans ------- at the end of the year and new ones will need to be issued', 5, 7, NULL, NULL, NULL, 0, NULL)
GO
INSERT [dbo].[Questions_Auto_Generate] ([PR_KEY], [QUIZ_ID], [TYPE_ID], [TOTAL_QUESTION], [LIST_ORDER]) VALUES (N'df294222-e181-47eb-a777-153c83ee795b', N'Quiz3', 2, 8, 2)
INSERT [dbo].[Questions_Auto_Generate] ([PR_KEY], [QUIZ_ID], [TYPE_ID], [TOTAL_QUESTION], [LIST_ORDER]) VALUES (N'28eab2bd-70f7-41c2-b256-22fe191503c4', N'Quiz3', 4, 8, 4)
INSERT [dbo].[Questions_Auto_Generate] ([PR_KEY], [QUIZ_ID], [TYPE_ID], [TOTAL_QUESTION], [LIST_ORDER]) VALUES (N'5cf76045-69bf-47ea-8a47-2fabe850f589', N'Quiz1', 3, 6, 4)
GO
INSERT [dbo].[Quiz] ([QUIZ_ID], [QUIZ_NAME], [QUIZ_TYPE_ID], [DESCRIPTION], [TIME], [SOURCE_DESCRIPTION], [SOURCE_LINK], [IS_TEST]) VALUES (N'Quiz1', N'Đề số 1', N'TOEIC3', N'Đề thi cho những người mới học được chọn lọc kĩ càng', 120, N'Bộ đề được lấy trực tiếp từ các đề thi do ETS biên soạn qua từng năm, vô cùng bám sát đề kiểm tra thực tế ', N'ets.org', 1)
INSERT [dbo].[Quiz] ([QUIZ_ID], [QUIZ_NAME], [QUIZ_TYPE_ID], [DESCRIPTION], [TIME], [SOURCE_DESCRIPTION], [SOURCE_LINK], [IS_TEST]) VALUES (N'Quiz2', N'Đề số 1', N'TOEIC5', N'Luyện tập cơ bản, được chọn lọc kĩ càng', 40, N'Bộ đề được lấy từ trang tuyển tập đề toeic của các hội đồng trên toàn thế giới như ETS, IIG ....', N'toeic24.vn', 0)
INSERT [dbo].[Quiz] ([QUIZ_ID], [QUIZ_NAME], [QUIZ_TYPE_ID], [DESCRIPTION], [TIME], [SOURCE_DESCRIPTION], [SOURCE_LINK], [IS_TEST]) VALUES (N'Quiz3', N'Đề số 2', N'TOEIC3', N'Đề thi cho những người mới học được chọn lọc kĩ càng', 120, N'Bộ đề được lấy trực tiếp từ các đề thi do ETS biên soạn qua từng năm, vô cùng bám sát đề kiểm tra thực tế ', N'ets.org', 1)
GO
INSERT [dbo].[Quiz_Listening] ([PR_KEY], [QUIZ_ID], [LISTENING_ID], [ACTIVE]) VALUES (N'38a07de5-642a-4619-aac0-00acb02aae24', N'Quiz2', N'LISTENING5', 1)
INSERT [dbo].[Quiz_Listening] ([PR_KEY], [QUIZ_ID], [LISTENING_ID], [ACTIVE]) VALUES (N'bcc818dd-93a6-4428-88c9-1db38bb9a088', N'Quiz3', N'12345', 1)
INSERT [dbo].[Quiz_Listening] ([PR_KEY], [QUIZ_ID], [LISTENING_ID], [ACTIVE]) VALUES (N'a213f890-2bd9-4c1e-b36b-75bdae14bb4c', N'Quiz1', N'123', 1)
GO
INSERT [dbo].[Quiz_Reading] ([PR_KEY], [QUIZ_ID], [READING_TYPE_ID], [TOTAL_READING], [ACTIVE]) VALUES (N'87a61ffc-663d-47de-96ac-396a0fff1bd7', N'Quiz3', 2, 2, 1)
INSERT [dbo].[Quiz_Reading] ([PR_KEY], [QUIZ_ID], [READING_TYPE_ID], [TOTAL_READING], [ACTIVE]) VALUES (N'5b34ce5c-eb60-49ff-a856-7ff12a7916a9', N'Quiz3', 1, 3, 1)
INSERT [dbo].[Quiz_Reading] ([PR_KEY], [QUIZ_ID], [READING_TYPE_ID], [TOTAL_READING], [ACTIVE]) VALUES (N'59d5eaa3-4112-4621-b0a0-bb64577ac274', N'Quiz1', 1, 5, 1)
GO
INSERT [dbo].[Quiz_Type] ([QUIZ_TYPE_ID], [QUIZ_TYPE_NAME], [QUIZ_TYPE_DESCRIPTION], [IS_TEST]) VALUES (N'TOEIC2', N'Toeic nâng cao', N'Đề toeic dành cho các bạn đã có kiến thức nền tảng', 1)
INSERT [dbo].[Quiz_Type] ([QUIZ_TYPE_ID], [QUIZ_TYPE_NAME], [QUIZ_TYPE_DESCRIPTION], [IS_TEST]) VALUES (N'TOEIC3', N'Toeic cho người mới ', N'Đề toeic dành cho các bạn mới học', 1)
INSERT [dbo].[Quiz_Type] ([QUIZ_TYPE_ID], [QUIZ_TYPE_NAME], [QUIZ_TYPE_DESCRIPTION], [IS_TEST]) VALUES (N'TOEIC5', N'Đề luyện tập cơ bản', N'Luyện tập với các câu hỏi cơ bản', 0)
GO
SET IDENTITY_INSERT [dbo].[Reading] ON 

SET IDENTITY_INSERT [dbo].[Reading] OFF
GO
SET IDENTITY_INSERT [dbo].[Reading_Type] ON 

INSERT [dbo].[Reading_Type] ([READING_TYPE_ID], [READING_TYPE_NAME], [READING_TYPE_NAME_EN], [DESCRIPTION], [ACTIVE]) VALUES (1, N'Hoàn thành bài hội thoại', N'Text completion', N'Chọn từ phù hợp để hoàn thành cuộc hội thoạiii', 1)
INSERT [dbo].[Reading_Type] ([READING_TYPE_ID], [READING_TYPE_NAME], [READING_TYPE_NAME_EN], [DESCRIPTION], [ACTIVE]) VALUES (2, N'Đọc hiểu', N'Reading comprehension', N'Đọc hiểu sau đó chọn đáp án', 1)
SET IDENTITY_INSERT [dbo].[Reading_Type] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([ROLE_ID], [ROLE_NAME], [DESCRIPTION]) VALUES (1, N'Admin', N'Admin')
INSERT [dbo].[Role] ([ROLE_ID], [ROLE_NAME], [DESCRIPTION]) VALUES (2, N'Người dùng', N'Người dùng')
INSERT [dbo].[Role] ([ROLE_ID], [ROLE_NAME], [DESCRIPTION]) VALUES (3, N'Mod', N'Quản lý')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Tip] ON 

SET IDENTITY_INSERT [dbo].[Tip] OFF
GO
SET IDENTITY_INSERT [dbo].[Tip_Type] ON 

INSERT [dbo].[Tip_Type] ([TIP_TYPE_ID], [TIP_TYPE_NAME], [DESCRIPTION], [ACTIVE]) VALUES (1, N'Ngữ pháp Toeic', N'Mẹo trong ngữ pháp toeic', 1)
SET IDENTITY_INSERT [dbo].[Tip_Type] OFF
GO
INSERT [dbo].[User_Evaluate_Website] ([PR_KEY], [USER_NAME_EVALUATE], [USER_JOB], [USER_CONTENT_EVALUATE], [ACTIVE]) VALUES (N'7f07540b-0f45-4606-a143-342a00ddb699', N'Nguyễn Trọng Đức', N'Sinh viên IT', N'Website thi thử TOEIC có tâm nhất mình từng thấy, hoàn toàn miễn phí dễ dàng sử dụng, đề thi sát thực tế, cập nhật thường xuyên.', 1)
INSERT [dbo].[User_Evaluate_Website] ([PR_KEY], [USER_NAME_EVALUATE], [USER_JOB], [USER_CONTENT_EVALUATE], [ACTIVE]) VALUES (N'82d642b8-f339-40dd-9cf9-53b9acc251d0', N'Đỗ Phương', N'Giáo viên dạy Tiếng Anh', N'Website rất tốt, tôi thường xuyên giới thiệu cho học viên làm thử để cải thiện trình độ TOEIC. Cảm ơn các bạn rất nhiều.', 1)
INSERT [dbo].[User_Evaluate_Website] ([PR_KEY], [USER_NAME_EVALUATE], [USER_JOB], [USER_CONTENT_EVALUATE], [ACTIVE]) VALUES (N'cf13f53a-f837-4f02-8744-6a443cceb5ab', N'Hoàng Vĩnh Tiến', N'Học sinh', N'Website thi thử TOEIC có tâm nhất mình từng thấy, hoàn toàn miễn phí dễ dàng sử dụng', 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([USER_ID], [FULL_NAME], [PROFILE_IMAGE], [PASSWORD], [ADDRESS], [PHONE_NUMBER], [ROLE_ID], [USER_NAME], [IS_MANAGE]) VALUES (2, N'Van', N'4ZGtXHj.png', N'e10adc3949ba59abbe56e057f20f883e', NULL, NULL, 1, N'van1999', 1)
INSERT [dbo].[Users] ([USER_ID], [FULL_NAME], [PROFILE_IMAGE], [PASSWORD], [ADDRESS], [PHONE_NUMBER], [ROLE_ID], [USER_NAME], [IS_MANAGE]) VALUES (5, N'Tien', N'69693197_204237870565207_1533791636683751424_n.jpg', N'e10adc3949ba59abbe56e057f20f883e', N'THanh Hóa', 904856144, 2, N'beotitan', 1)
INSERT [dbo].[Users] ([USER_ID], [FULL_NAME], [PROFILE_IMAGE], [PASSWORD], [ADDRESS], [PHONE_NUMBER], [ROLE_ID], [USER_NAME], [IS_MANAGE]) VALUES (6, N'Huy', N'71258586_789158131503720_6905162322147278848_n.jpg', N'e10adc3949ba59abbe56e057f20f883e', N'Ninh Bình', 262545224, 3, N'huy123', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Listening] ADD  CONSTRAINT [DF_Listening_IS_TEST]  DEFAULT ((1)) FOR [IS_TEST]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_QUESTION_ID]  DEFAULT ('') FOR [QUESTION_ID]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_IS_TEST]  DEFAULT ((1)) FOR [IS_TEST]
GO
ALTER TABLE [dbo].[Quiz] ADD  CONSTRAINT [DF_Quiz_IS_TEST]  DEFAULT ((1)) FOR [IS_TEST]
GO
ALTER TABLE [dbo].[Quiz_Questions] ADD  CONSTRAINT [DF_Quiz_Questions_ACTIVE]  DEFAULT ((0)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[Quiz_Questions] ADD  CONSTRAINT [DF_Quiz_Questions_POINT]  DEFAULT ((0)) FOR [POINT]
GO
ALTER TABLE [dbo].[Quiz_Type] ADD  CONSTRAINT [DF_Quiz_Type_IS_TEST]  DEFAULT ((1)) FOR [IS_TEST]
GO
ALTER TABLE [dbo].[Reading] ADD  CONSTRAINT [DF_Reading_IS_IMAGE]  DEFAULT ((0)) FOR [IS_IMAGE]
GO
ALTER TABLE [dbo].[Reading] ADD  CONSTRAINT [DF_Reading_IS_TEST]  DEFAULT ((1)) FOR [IS_TEST]
GO
ALTER TABLE [dbo].[Reading_Type] ADD  CONSTRAINT [DF_Reading_Type_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[Tip] ADD  CONSTRAINT [DF_Tips_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[Tip_Type] ADD  CONSTRAINT [DF_Tip_Type_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[User_Evaluate_Website] ADD  CONSTRAINT [DF_User_Evaluate_Website_ACTIVE]  DEFAULT ((1)) FOR [ACTIVE]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IS_MANAGE]  DEFAULT ((1)) FOR [IS_MANAGE]
GO
ALTER TABLE [dbo].[History_Quiz]  WITH CHECK ADD  CONSTRAINT [FK_History_Quiz_Evaluate] FOREIGN KEY([EVALUATE_ID])
REFERENCES [dbo].[Evaluate] ([EVALUATE_ID])
GO
ALTER TABLE [dbo].[History_Quiz] CHECK CONSTRAINT [FK_History_Quiz_Evaluate]
GO
ALTER TABLE [dbo].[Listening]  WITH CHECK ADD  CONSTRAINT [FK_Listening_Listening_Type] FOREIGN KEY([LISTENING_TYPE_ID])
REFERENCES [dbo].[Listening_Type] ([LISTENING_TYPE_ID])
GO
ALTER TABLE [dbo].[Listening] CHECK CONSTRAINT [FK_Listening_Listening_Type]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Role] FOREIGN KEY([Function_Id])
REFERENCES [dbo].[Function] ([Id])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Role]
GO
ALTER TABLE [dbo].[Permission]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Role_Id] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([ROLE_ID])
GO
ALTER TABLE [dbo].[Permission] CHECK CONSTRAINT [FK_Permission_Role_Id]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Listening] FOREIGN KEY([LISTENING_ID])
REFERENCES [dbo].[Listening] ([LISTENING_ID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Listening]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Reading] FOREIGN KEY([READING_ID])
REFERENCES [dbo].[Reading] ([READING_ID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Reading]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Type] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[Question_Type] ([TYPE_ID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Type]
GO
ALTER TABLE [dbo].[Questions_Auto_Generate]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Auto_Generate_Type] FOREIGN KEY([TYPE_ID])
REFERENCES [dbo].[Question_Type] ([TYPE_ID])
GO
ALTER TABLE [dbo].[Questions_Auto_Generate] CHECK CONSTRAINT [FK_Questions_Auto_Generate_Type]
GO
ALTER TABLE [dbo].[Quiz]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Quiz_Type] FOREIGN KEY([QUIZ_TYPE_ID])
REFERENCES [dbo].[Quiz_Type] ([QUIZ_TYPE_ID])
GO
ALTER TABLE [dbo].[Quiz] CHECK CONSTRAINT [FK_Quiz_Quiz_Type]
GO
ALTER TABLE [dbo].[Quiz_Listening]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Listening_Listening] FOREIGN KEY([LISTENING_ID])
REFERENCES [dbo].[Listening] ([LISTENING_ID])
GO
ALTER TABLE [dbo].[Quiz_Listening] CHECK CONSTRAINT [FK_Quiz_Listening_Listening]
GO
ALTER TABLE [dbo].[Quiz_Questions]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Questions_Questions] FOREIGN KEY([QUESTION_ID])
REFERENCES [dbo].[Questions] ([QUESTION_ID])
GO
ALTER TABLE [dbo].[Quiz_Questions] CHECK CONSTRAINT [FK_Quiz_Questions_Questions]
GO
ALTER TABLE [dbo].[Quiz_Questions]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Questions_Quiz] FOREIGN KEY([QUIZ_ID])
REFERENCES [dbo].[Quiz] ([QUIZ_ID])
GO
ALTER TABLE [dbo].[Quiz_Questions] CHECK CONSTRAINT [FK_Quiz_Questions_Quiz]
GO
ALTER TABLE [dbo].[Quiz_Reading]  WITH CHECK ADD  CONSTRAINT [FK_Quiz_Reading_Reading_Type] FOREIGN KEY([READING_TYPE_ID])
REFERENCES [dbo].[Reading_Type] ([READING_TYPE_ID])
GO
ALTER TABLE [dbo].[Quiz_Reading] CHECK CONSTRAINT [FK_Quiz_Reading_Reading_Type]
GO
ALTER TABLE [dbo].[Reading]  WITH CHECK ADD  CONSTRAINT [FK_Reading_Reading_Type] FOREIGN KEY([READING_TYPE_ID])
REFERENCES [dbo].[Reading_Type] ([READING_TYPE_ID])
GO
ALTER TABLE [dbo].[Reading] CHECK CONSTRAINT [FK_Reading_Reading_Type]
GO
ALTER TABLE [dbo].[Tip]  WITH CHECK ADD  CONSTRAINT [FK_Tip_Tip_Type] FOREIGN KEY([TIP_TYPE_ID])
REFERENCES [dbo].[Tip_Type] ([TIP_TYPE_ID])
GO
ALTER TABLE [dbo].[Tip] CHECK CONSTRAINT [FK_Tip_Tip_Type]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([ROLE_ID])
REFERENCES [dbo].[Role] ([ROLE_ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
