@{
    Layout = null;
    var user = ViewBag.UserLogin;
    var username = string.Empty;
    var pass = string.Empty;
    if (user != null)
    {
        username = user.username;
        pass = user.password;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đăng nhập hệ thống</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/Content/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/dist/css/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link href="~/Content/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Quản lý trang học tiếng anh</b></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Đăng nhập hệ thống</p>

                <div class="input-group mb-3">
                    <input type="email" id="txtUserName" class="form-control" placeholder="Tên đăng nhập">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" id="txtPwd" class="form-control" placeholder="Mật khẩu">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-7">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Ghi nhớ
                                </label>
                            </div>
                        </div>*@
                    <!-- /.col -->
                    <div class="col-5">
                        <button onclick="DangNhap()" class="btn btn-primary btn-block">Đăng nhập</button>
                    </div>
                    <!-- /.col -->
                </div>

                @*<div class="social-auth-links text-center mb-3">
                        <p>- OR -</p>
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                        </a>
                    </div>*@
                <!-- /.social-auth-links -->
                @*<p class="mb-1">
                        <a href='@Url.Action("FogetPassword","Login")'>Quên mật khẩu</a>
                    </p>*@
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <script src="~/Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script>
        $('#txtPwd').keyup(function (e) {
            if (e.key == "Enter") {
                DangNhap()
            }
        })
        $('#txtUserName').keyup(function (e) {
            if (e.key == "Enter") {
                DangNhap()
            }
        })
        $(function () {
            $('#txtUserName').val('@username')
            $('#txtPwd').val('@pass')
            if ('@username' !== '' && '@pass' !== '') {
                $( "#remember" ).prop( "checked", true );
            }
        })
        function DangNhap() {
            //validation

            if ($('#txtUserName').val().trim() == '' || $('#txtPwd').val().trim() == '') {
                alert('Vui lòng kiểm tra lại thông tin đăng nhập','Thông báo')
                return;
            }
            let formData = new FormData();
            formData.append('username', $('#txtUserName').val());
            formData.append('pwd', $('#txtPwd').val());
            //Kiểm tra nhớ mật khẩu
            if ($('#remember').is(':checked')) {
                formData.append('remember', 'true')
            } else {
                formData.append('remember','false')
            }
            $.ajax({
                url: '@Url.Action("CheckLogin", "login")',
                data: formData,
                type: 'POST',
                success: function (data) {
                    if (data.error) {
                        Swal.fire(
                            'Thất bại',
                            data.message,
                            'error'
                        )
                    }
                    else {
                        //loadingStop();
                        Swal.fire(
                            'Thành công',
                            'Đăng nhập thành công',
                            'success'
                        )
                        setTimeout(function () { window.location.href = '@Url.Action("Index", "Dashboard")'; }, 1200);

                    }

                },
                error: function (error) {
                    alert(error)
                },
                cache: false,
                processData: false,
                contentType: false
            });

        }
    </script>
</body>
</html>