
@{
    ViewBag.Title = "Về chúng tôi";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Đây là nơi không có giới hạn về kiến thức</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">Mọi người, mọi lứa tuổi, mọi cấp độ đều có thể tham gia học và thử thách bản thân mình.Vậy bạn đã sẵn sàng tham gia vào các chương trình học của chúng tôi chưa ? </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="@Url.Action("QuizType","Take_Quiz")">Làm bài kiểm tra đầu vào</a>
            </div>
        </div>
    </div>
</section>