@model IEnumerable<English_Quiz.Models.History_Quiz>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    
    <table class="table">
        <tr>
            <th>
                Mã đề
            </th>
            <th>
                Tên đề
            </th>
            <th>
                Điểm
            </th>
            <th>
                Ngày thi
            </th>

        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quiz_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quiz_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Take_Quiz)
            </td>
        </tr>
    }
    </table>
</body>
</html>
