
@{
    ViewBag.Title = "LessonType";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <section class="page-section bg-primary">
        <div class="container text-center">
            <h2 class="mb-4">Các bài luyện tập</h2>
            
        </div>
    </section>
