
@{
    ViewBag.Title = "Các khóa học";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="page-section bg-primary" id="#lesson">
    <div class="container text-center">
        <h2 class="text-center text-white mt-0">Các khóa học </h2>

    </div>
</section>