
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>Registration closes in <span id="time">05:00</span> minutes!</div>
<button onclick="stopCountdown()">
    Stop
</button>
@section scripts{
    <script type="text/javascript">
        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            var time = setInterval(function () {

                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.text(minutes + ":" + seconds);

                if (--timer < 0) {

                    timer = duration;
                    alert('Run out of time')
                   
                }

            }, 1000);
            return time;
        }

        var fiveMinutes = 60 * 1,
            display = $('#time');
        var stop = startTimer(fiveMinutes, display);
        const stopCountdown = () => {
            alert('clicked')
            clearInterval(stop);
        }
    </script>
}
